/*
mimic-medium-typograpy: A medium.com typographic experiment using different fonts.
By Antonio Gallo - http://www.antoniogallo.it/
Version: 2017-07-01
*/

$serif-font-stack: 'PT Serif', Georgia, Cambria, "Times New Roman", Times, serif;
$title-sans-font-stack: 'Source Sans Pro', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
$monospace-font-stack: Menlo, Monaco, "Courier New", Courier, monospace;
$sans-font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;


@mixin font-antialias {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}


// by https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
@mixin word-wrap() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}


@mixin medium-paragraph {
	font-family: $serif-font-stack;
	color: rgba(0, 0, 0, .8);
	font-weight: 400;
	font-size: 20px; // 21px on original
	line-height: 1.58;
	font-style: normal;
	@include font-antialias;
}


@mixin link-decoration {
	text-decoration: none;

	background-color: transparent;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0) 50%);
	background-repeat: repeat-x;
	background-size: 2px .1em;
	background-position: 0 1.07em;

	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, .44);
	color: inherit;
}


// restore ui-kit em
.uk-container em {
	color: inherit;
}


body {
	font-family: $sans-font-stack;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 1.4;
	color: rgba(0,0,0,.8);
}


// medium container is 700px + 20px padding/margin
.page-content {
	margin: 20px auto;
	max-width: 700px;
	padding: 20px;
	background: #fff;
	display: block;
}


/* TITLES */

h1, h2, h3, h4, h5, h6 {
	font-family: $title-sans-font-stack;
	font-weight: 700;
	font-style: normal;
	@include font-antialias;
	color: rgba(0, 0, 0, .8);
	margin: 0;
}


h1 {
	font-size: 39px;
	line-height: 1.04;
	letter-spacing: -.02em;
}

// Interpolated
h2 {
	font-size: 36px;
	line-height: 1.095;
	letter-spacing: -.035em;
	margin-top: 56px;
	@include word-wrap;
}

h3 {
	font-size: 32px;
	line-height: 1.15;
	letter-spacing: -.02em;
	margin-top: 56px;
	@include word-wrap;
}

h4 {
	font-size: 24px;    // 24px original
	line-height: 1.22;
	letter-spacing: -.02em;
	margin-top: 39px;
	@include word-wrap;
	color: rgba(0,0,0,0.75);
}

// TODO: h5, h6

p {
	@include medium-paragraph;
}

b, strong {
	font-weight: 700;
}

strong {
	// make it a little lighter
	color: rgba(0,0,0,0.75);
}

em {
	-webkit-font-feature-settings: "liga" on, "salt" on;
	font-feature-settings: "liga" on,"salt" on;
	//color: inherit;
}


.page-content {

	@include medium-paragraph;


	p {
		@include medium-paragraph;
		@include word-wrap;
		letter-spacing: .01rem;

		margin-top: 29px;
		margin-bottom: 0;
	}

	h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
		margin-top: 8px;
	}


	a {
		@include link-decoration;
		@include word-wrap;
		letter-spacing: -.003em;
	}

	blockquote {
		@include medium-paragraph;
		@include word-wrap;

		font-style: italic;
		letter-spacing: -.01em;
		margin-top: 29px;

		border-left: 3px solid rgba(0, 0, 0, .8);
		padding-left: 20px;
		margin-left: -23px;
		padding-bottom: 2px;

		/* TODO: replace with a font with weigth300 support */
		&.alternate {
			margin-top: 55px;
			font-style: italic;
			font-size: 26px;

			margin-left: 0;
			line-height: 1.48;
			//letter-spacing: -.014em;
			letter-spacing: -.030em;

			color: rgba(0, 0, 0, .6);
			border: none;
			padding: 0;
			padding-left: 50px;
			text-align: left;

			&.alternate strong {
				font-weight: 400;
			}

		}

	}


	pre, code {
		font-family: $monospace-font-stack;
		@include word-wrap;
		font-size: 18px;
		line-height: 1.58;
		font-weight: 400;
		font-style: normal;

		@include font-antialias;

		// disable ligature
		-moz-font-feature-settings: "liga" on;
		font-feature-settings: "liga" 0;

		color: rgba(0, 0, 0, .8);
		background: rgba(0, 0, 0, .05);
	}

	pre {
		letter-spacing: 0;
		margin-top: 43px;
		padding: 20px;

		white-space: pre-wrap;
		overflow: auto;
	}

	code {
		letter-spacing: -.003em;
		margin: 0 2px;
		padding: 3px 4px;
	}


	ul, ol {
		margin: 0;
		margin-top: 29px;
		counter-reset: post;
		padding: 0;
		list-style: none;
		list-style-image: none;

		li {
			@include medium-paragraph;

			letter-spacing: -.003em;

			margin-left: 30px;
			margin-bottom: 14px;

			display: list-item;
			text-align: -webkit-match-parent;

			em {
				-webkit-font-feature-settings: "liga" on, "salt" on;
				font-feature-settings: "liga" on,"salt" on;
				color: inherit;
			}

		}

	}


	ol li:before {
		font-feature-settings: "liga" on, "lnum" on;
		-moz-font-feature-settings: "liga" on, "lnum" on;
		-webkit-font-feature-settings: "liga" on, "lnum" on;
		padding-right: 12px;
		counter-increment: post;
		content: counter(post) ".";
		position: absolute;
		display: inline-block;
		box-sizing: border-box;
		width: 78px;
		margin-left: -78px;
		text-align: right;
	}

	ul li:before {
		font-size: 16.8px;

		padding-top: 4px;
		padding-right: 15px;
		content: '•';

		position: absolute;
		display: inline-block;
		box-sizing: border-box;
		width: 78px;
		margin-left: -78px;
		text-align: right;
	}




	figure {
		margin: 0;
		margin-top: 43px;

		img {
			width: 100%;
			height: auto;
		}

		figcaption {
			font-family: $title-sans-font-stack;
			font-weight: 300;
			font-style: normal;
			font-feature-settings: "liga" on, "lnum" on;
			-moz-font-feature-settings: "liga" on, "lnum" on;
			-webkit-font-feature-settings: "liga" on, "lnum" on;
			font-size: 14px;
			line-height: 1.4;
			color: rgba(0, 0, 0, .6);
			letter-spacing: 0;
			text-align:center; // ????

			a {
			}

			em {
				font-style: normal;
			}

		}


	}


	hr {
		margin-top: 52px;
		margin-bottom: 42px;
		display: block;
		border: 0;
		text-align: center;
		height: 0;

		&:before {
			font-family: $serif-font-stack;
			font-weight: 400;
			font-style: italic;
			font-size: 28px;
			letter-spacing: .6em;

			content: '...';
			display: inline-block;
			margin-left: .6em;
			color: rgba(0, 0, 0, .6);
			position: relative;
			top: -30px;
		}

	}

	.highlight {
		background-color: transparent;
		background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
		transition: .2s background-color;
		cursor: pointer;

		&:hover {
			background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
		}

	}


	.subtitle {
		font-family: $title-sans-font-stack;
		font-style: normal;
		@include font-antialias;
		margin: 0;
		//font-weight: 300;
		font-weight: 400;
		font-size: 27px;
		line-height: 1.22;
		//letter-spacing: -.022em;
		letter-spacing: -.006em;
		margin-top: 4px;
		color: rgba(0,0,0,.44);
	}

	// page-content
}
